/** 
*** Custom CSS File For http://coderdurjoy.com  **/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
}

a {
    text-decoration: none !important;
}

/** 
*** Header Area **/
.header-area {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(0deg, rgba(26, 25, 25, 0.9), rgba(27, 26, 26, 0.9)), url('images/coderdurjoy-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.cd-logo {
    font-size: 26px;
}

.cd-logo span {
    color: #acacac;
}

.header-area nav ul li a {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.source-code a {
    border: 1px solid #acacac;
}

/**
*** Welcome Area Buttons **/

.welcome-area {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.welcome-area p {
    font-size: 20px;
    width: 90vw;
}

.cd-welcome-btn a {
    min-width: 180px;
    color: #fff;
    display: inline-block;
    margin: 8px 16px;
    padding: 10px 25px;
    text-align: center;
    border: 1px solid #acacac;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

.cd-welcome-btn a:hover {
    background: #ecf0f1;
    border: 1px solid #ecf0f1;
    color: #333;
}

/**
*** Social Profiles **/
.cd-social-profiles {
    margin-top: 20px;
}

.cd-social-profiles ul {
    list-style: none;
    margin: 0;
}

.cd-social-profiles ul li {
    display: inline;
    margin: 0 14px;
}

.cd-social-profiles ul li a {
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 20px;
    color: #fff;
}

.cd-social-profiles ul li a i {
    padding: 10px;
    border: 1px solid #ecf0f1;
    border-radius: 25%;
    -webkit-border-radius: 25%;
    -moz-border-radius: 25%;
    -ms-border-radius: 25%;
    -o-border-radius: 25%;
}

.cd-social-profiles ul li a i:hover {
    background: #fff;
    color: #333;
}